/* Header Section */


.header_wrapper{

  height: 6vh;
  width:100%;
  margin:0;
  padding:0;
  /* this makes sure that when the screen size decreases, the banner container can go no smaller than 2.0em */
  min-height: 2.0em;
  background-color:#AAAAAA;
}
/* fixes the banner to the top of the page and hides the overflow*/
.banner{

  height: 7vh;
  width:100%;
  /* hides the overflow and forces the image to fit to the size of the banner container */
  overflow:hidden;

  right: 0;
  left: 0;
  min-height: 2.0em;
  /* makes sure the banner is always on top of the elements it passes over */
  z-index: 1000;
}
.banner_picture{

  width:100%;
  min-height: 2.0em;

}
