
.failure
{
  display: none;
}
.info
{

    border-radius: 15px;
    border: thin solid #11AAEE;
    color: #777777;
    margin-top: calc(1.5vw + 2vh);
    padding:1% 2% 1% 2%;
    font-size: calc(.75vw + 5px);
}
.info:hover
{
    border-color:#084477;
    border-style: solid;

}
/* this formats the div that contains the login forms */
.login_div
{

  width: 100%;
  height:100%;
  display: flex;
  /* makes each item fall into its own row */
  flex-direction: column;
  /* centers items horizontally */
  justify-content: center;
  /* centers items vertically */
  align-items: center;
}

.login_header
{
  padding-top: 2%;
  font-size:calc(1vw + 1em);
  text-align: center;
}

/* heelps format all the login inputs */
.login_info
{
  min-width:20%;
  min-height:30px;
  margin-top: 15px;
  margin-bottom:15px;
  display: block;

}

/* formats links. The only link used by this appears if a login is attempted with an email with no account */
.login_link
{
  text-decoration: none;
  color: black;
  opacity:.5;
}

.no_account
{
  display:none;
}

/* formats the submit button */
.submit
{
  text-align: center;
  border-radius:50px;
  /* makes the border appear*/
  color: #f5f5f5;
  grid-row: 4;
  width: calc(15vw + 10px);
  font-size: calc(1vw + 5px);
  height: calc(4.5vw + 20px);

  background-color: #084477;
  cursor:pointer;
  border: medium solid #11AAEE;

}
/* this is the div that contains the main content */
.login_content_wrapper
{
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  min-height: 80vh;

}

/* makes the submit button change colors when hovered */
.submit:hover
{
  background-color: #11AAEE;

}

.login_link:hover
{
  opacity:1;
  color:#FC4F4F;
}
@media screen and (max-width: 650px) {
  .submit
  {
    border: thin solid #11AAEE;
  }
}

