{% extends 'shared/layout.html' %}

{% block extrainfo %}
<title>Piano Project</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
{% endblock %}

{% block extracss %}
<link rel="stylesheet"    href="{{ url_for('static', filename='piano/css/piano.css') }}">
{% endblock %}

{% block maincontent %}
<!--- main content --->

  <main>
    <!--- div wraps around all the content --->
    <div class="main_wrapper_div">
      <!--- container holding the poem above the piano --->
      <div class="poem">
        <h1>Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you."</h1>
      </div>
      <!--- this is the div box for the base of the piano --->
      <div class="base">
        <!-- image of the great old one -->
        <img src="static/piano/images/texture.jpeg" alt="The Great Old One" loading="lazy" class = "great_old_one base">
        <div class="description">
          <!-- given an id so text content can be changed in javascript -->
          <h1 id = "piano_description"> The Great Old One</h1>
        </div>
        <!-- this div is purely for the hover function in javascript -->
        <div class="all_keys">
          <!-- this container has all the black keys within it and positions them correctly -->
          <div class="black_key_wrapper">
            <!-- i broke the black keys into 3 groups to make it easier to position -->
            <div class="black_key_group_1">
              <!-- each one is a black key -->
              <div  class="black_key key key_11">
                <h1 class="black_key_code code ">W</h1>
              </div>
              <div  class="black_key key key_12 key_position">
                <h1 class="black_key_code code ">E</h1>
              </div>
            </div>

            <!-- container for the second group of black keys -->
            <div class="black_key_group_2">
              <!-- each one is a black key -->
              <div class="black_key key key_13">
                <h1 class="black_key_code code ">T</h1>
              </div>
              <div class="black_key key key_14 key_position">
                <h1 class="black_key_code code ">Y</h1>
              </div>
              <div class="black_key key key_15 ">
                <h1 class="black_key_code code ">U</h1>
              </div>
            </div>

            <!-- container for the third group of black keys -->
            <div class="black_key_group_3">
              <!-- each one is a black key -->
              <div class="black_key key key_16">
                <h1 class="black_key_code code ">O</h1>
              </div>
              <div class="black_key key key_17 key_position">
                <h1 class="black_key_code code ">P</h1>
              </div>
            </div>
          <!-- end of the div containing just the black keys -->
          </div>

          <!---this is the single container for all the white keys since they line up all together
               and dont need special positioning--->
          <div class="white_key_wrapper">
            <!-- every one of these white_key divs are styles th -->
            <div class="white_key key key_1">
              <h1 class= "white_key_code code ">A</h1>
            </div>
            <div class="white_key key key_2">
              <h1 class= "white_key_code code ">S</h1>
            </div>
            <div class="white_key key key_3">
              <h1 class= "white_key_code code ">D</h1>
            </div>
            <div class="white_key key key_4">
              <h1 class= "white_key_code code ">F</h1>
            </div>
            <div class="white_key key key_5">
              <h1 class= "white_key_code code ">G</h1>
            </div>
            <div class="white_key key key_6">
              <h1 class= "white_key_code code ">H</h1>
            </div>
            <div class="white_key key key_7">
              <h1 class= "white_key_code code ">J</h1>
            </div>
            <div class="white_key key key_8">
              <h1 class= "white_key_code code ">K</h1>
            </div>
            <div class="white_key key key_9">
              <h1 class= "white_key_code code ">L</h1>
            </div>
            <div class="white_key key key_10">
              <h1 class= "white_key_code code ">;</h1>
            </div>
            <!-- end of white key wrapper -->
          </div>
          <!-- end of all key div -->
        </div>
      <!-- this is the end of the base div -->
      </div>
    <!-- this is the end of the main wrapper div -->
    </div>
  </main>
{% endblock %}

{% block extrajs %}
<!-- the script implementation for the javascript associated with this page put at bottom so it will load last -->
<script src = "static/piano/js/piano.js">
</script>
{% endblock %}
