{% extends 'shared/layout.html' %}

{% block extrainfo %}
<title>Feedback</title>
{% endblock %}

{% block extracss %}
<link rel="stylesheet"    href="{{ url_for('static', filename='main/css/feedback_page.css') }}">
{% endblock %}

{% block maincontent %}
<div class="feedback_content">
  <!-- header statement -->
  <div class="feedback_wrapper">
    <h1 class = "feedback_header">Thanks for your feedback - here's what others had to say:</h1>
  </div>
  <!-- collects information from feedback table -->
  {% for feed_dict in feedback_data %}
    <div class="feedback_line_wrapper">
      <!-- grabs the users name -->
      {% if feed_dict['name'] != ''%}
        <p class = "feedback_line_name"> {{ feed_dict['name']}} said: </p>
      {% else %}
        <p class = "feedback_line_name"> Anonymous said: </p>
      {% endif %}
      <!-- grabs the users comment -->
      {% if feed_dict['comment'] != ''%}
          <p class = "feedback_line_comment">{{ feed_dict['comment']}}</p>
      {% endif %}
    </div>
  {% endfor %}
</div>


{% endblock %}
