<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Piano Project</title>
    <link rel="stylesheet" href="static/main/css/header.css">
    <link rel="stylesheet" href="static/main/css/navbar.css">
    <link rel="stylesheet" href="static/piano/css/piano.css">
    <link rel="stylesheet" href="static/main/css/footer.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento|" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="CSE 477 HW 1 Piano page">
    <meta name="author" content="Tyler White">
    <title></title>
  </head>
  <body>
  <!--- Header Section --->
  <header >
    <div class="header_wrapper">
    <!---container for the header banner --->
      <div class="banner" >
        <img src="static/main/images/banner.jpg" alt="banner" loading="lazy" class = "banner_picture">
      </div>
    </div>
  </header>

  <!--- Navigation Bar section--->
  <nav>
    <div class="nav_wrapper">
      <p class = "assignment_name">CSE 477 Homework 1</p>
      <!--- contains all link items--->
      <div class="links">
        <!--- checkbox functionality allowing menu dropdown menu--->
        <input title="dropdown menu checkbox" type="checkbox" id= "nav-toggle" class="nav-toggle" >
        <!--- label attaches something to the checkbox and allows you to choose what the checkbox looks like --->
        <label for="nav-toggle" class= "nav-toggle-label">
          <span>
            <!---  use the menu bar picture as the dropdown button--->
            <img src="static/main/images/menu-bar.png" alt="menu bar logo" loading="lazy" class = "menu_bar">
          </span>
        </label>
        <!-- list of links in the nav bar -->
        <ul class="list_link">
          <li><a href="/home.html" class="link">Home</a></li>
          <li><a href="/projects.html" class="link">Projects</a></li>
          <li>
            <a href="static/main/images/resume.pdf"  target="_blank" loading="lazy" class="link">Resume</a>
          </li>
          <!--- this list item is for when the screen is below 650px and the linkedin image is not being used --->
          <li>
            <a href="https://www.linkedin.com/in/whitety4/"  id = "small_screen_linkedin" target="_blank" class="link">
              LinkedIn
            </a>
          </li>
          <li>
            <!---  target blank brings the link in another tab--->
            <a href="https://www.linkedin.com/in/whitety4/"  target="_blank" class="link">
              <img src="static/main/images/social-linkedin.png" alt="linkedin logo" loading="lazy" class = "linkedin_logo" >
            </a>
          </li>

        </ul>
      <!--end of links div  -->
      </div>
      <!-- end of nav wrapper -->
    </div>
  </nav>

  <!--- main content --->
  <main>
    <!--- div wraps around all the content --->
    <div class="main_wrapper_div">
      <!--- container holding the poem above the piano --->
      <div class="poem">
        <h1>Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you."</h1>
      </div>
      <!--- this is the div box for the base of the piano --->
      <div class="base">
        <!-- image of the great old one -->
        <img src="static/piano/images/texture.jpeg" alt="The Great Old One" loading="lazy" class = "great_old_one base">
        <div class="description">
          <!-- given an id so text content can be changed in javascript -->
          <h1 id = "piano_description"> The Great Old One</h1>
        </div>
        <!-- this div is purely for the hover function in javascript -->
        <div class="all_keys">
          <!-- this container has all the black keys within it and positions them correctly -->
          <div class="black_key_wrapper">
            <!-- i broke the black keys into 3 groups to make it easier to position -->
            <div class="black_key_group_1">
              <!-- each one is a black key -->
              <div  class="black_key key key_11">
                <h1 class="black_key_code code ">W</h1>
              </div>
              <div  class="black_key key key_12 key_position">
                <h1 class="black_key_code code ">E</h1>
              </div>
            </div>

            <!-- container for the second group of black keys -->
            <div class="black_key_group_2">
              <!-- each one is a black key -->
              <div class="black_key key key_13">
                <h1 class="black_key_code code ">T</h1>
              </div>
              <div class="black_key key key_14 key_position">
                <h1 class="black_key_code code ">Y</h1>
              </div>
              <div class="black_key key key_15 ">
                <h1 class="black_key_code code ">U</h1>
              </div>
            </div>

            <!-- container for the third group of black keys -->
            <div class="black_key_group_3">
              <!-- each one is a black key -->
              <div class="black_key key key_16">
                <h1 class="black_key_code code ">O</h1>
              </div>
              <div class="black_key key key_17 key_position">
                <h1 class="black_key_code code ">P</h1>
              </div>
            </div>
          <!-- end of the div containing just the black keys -->
          </div>

          <!---this is the single container for all the white keys since they line up all together
               and dont need special positioning--->
          <div class="white_key_wrapper">
            <!-- every one of these white_key divs are styles th -->
            <div class="white_key key key_1">
              <h1 class= "white_key_code code ">A</h1>
            </div>
            <div class="white_key key key_2">
              <h1 class= "white_key_code code ">S</h1>
            </div>
            <div class="white_key key key_3">
              <h1 class= "white_key_code code ">D</h1>
            </div>
            <div class="white_key key key_4">
              <h1 class= "white_key_code code ">F</h1>
            </div>
            <div class="white_key key key_5">
              <h1 class= "white_key_code code ">G</h1>
            </div>
            <div class="white_key key key_6">
              <h1 class= "white_key_code code ">H</h1>
            </div>
            <div class="white_key key key_7">
              <h1 class= "white_key_code code ">J</h1>
            </div>
            <div class="white_key key key_8">
              <h1 class= "white_key_code code ">K</h1>
            </div>
            <div class="white_key key key_9">
              <h1 class= "white_key_code code ">L</h1>
            </div>
            <div class="white_key key key_10">
              <h1 class= "white_key_code code ">;</h1>
            </div>
            <!-- end of white key wrapper -->
          </div>
          <!-- end of all key div -->
        </div>
      <!-- this is the end of the base div -->
      </div>
    <!-- this is the end of the main wrapper div -->
    </div>
  </main>

  <footer>
    <div class="footer_wrapper">
      <p class = "footer">&#169; Tyler White </p>
    </div>


  </footer>
  <!-- the script implementation for the javascript associated with this page put at bottom so it will load last -->
  <script src = "static/piano/js/piano.js">

  </script>
  </body>
</html>
