<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="CSE 477 HW 2">
  <meta name="author" content="Tyler White">
  {% block extrainfo %}{% endblock %}
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento|Quintessential" rel="stylesheet">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/header.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/navbar.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/footer.css') }}">
  <link rel="stylesheet"    href="{{ url_for('static', filename='main/css/feedback.css') }}">
  {% block extracss %}{% endblock %}

</head>

<body>
    <article>
    <!-- The header  -->
    <header>
      <div class="header_wrapper">


        <!---container for the header banner --->
        <div class="banner" >
          <img src="static/main/images/banner.jpg" alt="banner" loading="lazy" class = "banner_picture">
        </div>
      </div>
    </header>

    <!-- The navigation bar -->
    <!--- Navigation Bar section--->
    <nav>
      <div class="nav_wrapper">
        <p class = "assignment_name">CSE 477 Homework 2</p>
        <!--- contains all link items--->
        <div class="links">
          <!--- checkbox functionality allowing menu dropdown menu--->
          <input title="dropdown menu checkbox, click to activate" type="checkbox" id= "nav-toggle" class="nav-toggle" >
          <!--- label attaches something to the checkbox and allows you to choose what the checkbox looks like --->
          <label for="nav-toggle" class= "nav-toggle-label">
            <span>
              <!---  use the menu bar picture as the dropdown button--->
              <img src="static/main/images/menu-bar.png" alt="menu bar logo" loading="lazy" class = "menu_bar" >
            </span>
          </label>
          <!-- list of links in the nav bar -->
          <ul class = "list_link">
            <li><a href="/home" class="link">Home</a></li>
            <li><a href="/projects" class="link">Projects</a></li>
            <li>
              <a href="/resume" class="link">Resume</a>
            </li>
            <!--- this list item is for when the screen is below 650px and the linkedin image is not being used --->
            <li>
              <a href="https://www.linkedin.com/in/whitety4/"  id = "small_screen_linkedin" target="_blank" class="link">
                LinkedIn
              </a>
            </li>
            <li>
              <!---  target blank brings the link in another tab--->
              <a href="https://www.linkedin.com/in/whitety4/"  target="_blank" class="link">
                <img src="static/main/images/social-linkedin.png" alt="linkedin logo" loading="lazy" class = "linkedin_logo" >
              </a>
            </li>

          </ul>
        <!-- end of links div -->
        </div>
        <!-- end of nav wrapper -->
      </div>

    </nav>
    <!-- Feedback button  -->
    <!-- this is the input for the button -->
    <input title="feedback from toggle button" type="checkbox" id= "button_toggle" class="button_toggle" >
    <!--- label attaches something to the checkbox and allows you to choose what the checkbox looks like --->
    <label for="button_toggle" class= "button_toggle_label">
      <!-- styles the label in the form of a button -->
      <span class="feedback_button feedback_button_wrapper">Feedback</span>
    </label>
    <!-- feedback form -->
    <div class="feedback_form_wrapper">
      <!-- sends a post to the route /processfeedback so we can collect the information and insert it -->
      <form action="/processfeedback" method="post">
      <input class = "forms top_form" id = "name" name="name" placeholder="Your Name">
      <br>
      <input class = "forms" id = "email" name="email" placeholder="Your Email">
      <br>
      <input class = "forms " id = "feedback_comment" name="feedback_comment" placeholder="Insert Feedback Here">
      <br>
      <input class = "forms form_button" type="submit" value="Submit">

      </form>
    </div>


    <!-- The main content  -->
    <main>
      {% block maincontent %}{% endblock %}
    </main>

    <!-- The footer of the file -->
    <footer>
      <div class="footer_wrapper">
        <p class = "footer">&#169; Tyler White </p>
      </div>
    </footer>

    </article>
{% block extrajs %}{% endblock %}
</body>

</html>
