{% extends 'shared/layout.html' %}
{% block extrainfo %}
<title>Resume</title>
{% endblock %}

{% block extracss %}
<link rel="stylesheet"    href="{{ url_for('static', filename='main/css/resume.css') }}">
{% endblock %}
{% block maincontent %}
      <!-- div that contains all the resume content -->

      <div class="content">

        <!-- For each institution - generate a row -->
        {% for inst_id, inst in resume_data.items() %}
        <!-- Do something... -->
        <!-- contains information about the institution -->
        <div class="institution_box">
          <h1 class = "institution">{{ inst['name']}} </h1>
        </div>

        <div class="institution_address">
          <!-- checks for null or none values in the city and address and prints accordingly -->
          {% if inst['state'] != "NULL" and inst['state'] != "" and inst['city'] != "NULL" and inst['city'] != ""%}
            <p class = "address"> {{ inst['city']}}, {{ inst['state']}}</p>
          {% elif inst['state'] == "NULL" or inst['state'] == "" and inst['city'] != "NULL"  %}
            <p class = "address"> {{ inst['city']}}</p>
          {% elif inst['state'] != "NULL" and inst['city'] == "NULL" or inst['city'] == "" %}
            <p class = "address"> {{ inst['state']}}</p>
          {% endif %}
        </div>
          <!-- if positions ditionary is not empty -->
          {% if inst['positions'] != {} %}
            <!-- for each position, generate a row -->
            {% for pos_id, pos in inst['positions'].items() %}
            <!-- Do something else... -->
            <!-- contains all the position information -->
            <div class="position_wrapper">

              <div class="position_title_div">
                <h2 class = "position">{{ pos['title']}} </h2>
              </div>
              <div class="position_date_div">
                {% if pos['end_date'] != "NULL" and pos['end_date'] != ""%}
                  <p class = "position_date"> {{ pos['start_date']}} - {{ pos['end_date']}}</p>
                {% else %}
                  <p class = "position_date"> {{ pos['start_date']}}</p>
                {% endif %}
              </div>
              <p class = "position_description">{{ pos['responsibilities']}}</p>
              <!-- if experiences for the position is not empty -->
              {% if pos['experiences'] != {} %}
              <!-- start a unordered list -->
                <ul class = experiences_list>
                  <!-- generate a row for each experience -->
                  {% for experience_id, exp in pos['experiences'].items() %}
                    <!-- use hyperlink information if it is not null -->
                    {% if exp['hyperlink'] != "NULL" and exp['hyperlink'] != "" %}
                      <li class = "list_item">{{ exp['hyperlink']}}: {{ exp['description']}}</li>
                    {% else %}
                    <!-- use the name instead -->
                      {% if exp['name'] != "NULL" and exp['name'] != "" %}
                        <li class = "list_item">{{ exp['name']}}: {{ exp['description']}}</li>
                      {% else %}
                        <li class = "list_item">{{ exp['description']}}</li>
                      {% endif %}

                    {% endif %}
                    <!-- if skills dictionary for this experience is not empty -->
                    {% if exp['skills'] != {} %}
                      <p class = "skills">Skills used:</p>
                      <!-- generate a row for each skill in the dictionary -->
                      {% for skill_id, skill in exp['skills'].items() %}
                        <!-- do not add a comma if its on the last loop -->
                        {% if loop.last %}
                          <p class = "skills space"> {{ skill['name']}} </p>
                        {% else %}
                          <p class = "skills space"> {{ skill['name']}}, </p>
                        {% endif %}

                      {% endfor %}  <!-- skills loop ending -->
                    {% endif %}
                  {% endfor %}     <!-- ending of experience loop -->
                </ul>

              {% endif %}
            </div>          <!-- end position wrapper -->
            {% endfor %}    <!-- ending of position loop -->

          {% endif %}
        <!-- this adds spacing after every institution -->
        <p class = "spacing"></p>
        {% endfor %}         <!-- end of institution loop -->
      </div>                 <!-- end of content div -->


{% endblock %}
