{% extends 'shared/layout.html' %}

{% block extrainfo %}
<title>Wordle Project</title>

{% endblock %}

{% block extracss %}
<link rel="stylesheet"    href="{{ url_for('static', filename='main/css/wordle.css') }}">
{% endblock %}

{% block maincontent %}
<!--- main content --->

  <main>
    <!--- div wraps around all the content --->
    <div class="wordle_wrapper_div">
      <!-- Instruction Prompt -->
      <div class="instruction_prompt">
        <!-- this is the input for the button -->
        <input title="instruction X" type="checkbox" id= "instruction_exit_toggle" class="instruction_exit_toggle" >
        <!--- label attaches something to the checkbox and allows you to choose what the checkbox looks like --->
        <label for="instruction_exit_toggle" class= "exit_toggle_label">
          <!-- styles the label in the form of a button -->
          <span class="exit_button exit_button_wrapper">&#10005;</span>
        </label>
        <!-- beginning of description -->
        <p class = "instruction_desc top_desc">Guess the Wordle in {{N}} tries</p>
        <p class = "instruction_desc">Each guess must be a valid {{N}}-letter word. To submit your word, hit the enter button.</p>
        <p class = "instruction_desc">After each guess, the color of the tiles in your guess and on the keyboard will change to show how close
                                        your guess was to the word.
        </p>
        <p class = "instruction_desc"> If the character is not found in the wordle at all, then the tile will turn a grey color.</p>
        <p class = "instruction_desc"> If the character is found somewhere in the correct word, but not in this exact tile, then it will turn a yellow color.</p>
        <p class = "instruction_desc"> If the character is found in this exact tile in the correct word, then it will turn a green color.</p>
        <p class = "instruction_desc"> The virtual keyboard will highlight and show the information you have found on each character, updating after each guess</p>
        <p class = "instruction_desc bot_desc"><strong>A new Wordle will be available every day.</strong></p>
      </div>

      <!-- actual game starts here -->
      <div class="wordle_desc">
        Tyler's Wordle Game
      </div>
      <div class="guess_fail">
        Not a valid guess
      </div>
      <div class="too_few">
        Not enough letters
      </div>
      <div class="wordle_grid">


        <div class = "grid_container">
          <!-- makes N rows where N is the length of the correct word -->
          {% for i in range(N) %}
            <div class = "grid_row">
              <!-- makes N columns where N is the length of the correct word -->
              {% for i in range(N) %}
                <div class = "grid_box">  </div>
              {% endfor %}

            </div>
            {% endfor %}

        </div>
        <!-- this is the leaderboard that appears at the end of the game -->
        <div class="scoreboard">
          <!-- this message is for whether the user won or lost -->
          <p class = "status"></p>
          <p class = "title">The correct word was <strong class = "correct_word"></strong></p>
          <hr>
          <p class = "scoreboard_desc win_desc" ><strong>Today's Top 5 Wordle Winners</strong></p>
          <!-- top 5 users that will be filled in the javascript -->
          <p class = "ranking scoreboard_desc">1. <strong class = "rank_1"></strong></p>
          <p class = "ranking scoreboard_desc">2. <strong class = "rank_2"></strong> </p>
          <p class = "ranking scoreboard_desc">3. <strong class = "rank_3"></strong> </p>
          <p class = "ranking scoreboard_desc">4. <strong class = "rank_4"></strong> </p>
          <p class = "ranking scoreboard_desc">5. <strong class = "rank_5"></strong>  </p>

        </div>
      </div>
      <!-- virtual keyboar -->
      <ul class = "keyboard_row_1">
          <li class = "keyboard_button Q" >Q</li>
          <li class = "keyboard_button W" >W</li>
          <li class = "keyboard_button E" >E</li>
          <li class = "keyboard_button R" >R</li>
          <li class = "keyboard_button T" >T</li>
          <li class = "keyboard_button Y" >Y</li>
          <li class = "keyboard_button U" >U</li>
          <li class = "keyboard_button I" >I</li>
          <li class = "keyboard_button O" >O</li>
          <li class = "keyboard_button P" >P</li>
        </ul>
        <ul class = "keyboard_row_2">
          <li class = "keyboard_button A" >A</li>
          <li class = "keyboard_button S" >S</li>
          <li class = "keyboard_button D" >D</li>
          <li class = "keyboard_button F" >F</li>
          <li class = "keyboard_button G" >G</li>
          <li class = "keyboard_button H" >H</li>
          <li class = "keyboard_button J" >J</li>
          <li class = "keyboard_button K" >K</li>
          <li class = "keyboard_button L" >L</li>
        </ul>
        <ul class = "keyboard_row_3">
          <li class = "keyboard_button" id = "enter" >Enter</li>
          <li class = "keyboard_button Z" >Z</li>
          <li class = "keyboard_button X" >X</li>
          <li class = "keyboard_button C" >C</li>
          <li class = "keyboard_button V" >V</li>
          <li class = "keyboard_button B" >B</li>
          <li class = "keyboard_button N" >N</li>
          <li class = "keyboard_button M" >M</li>
          <li class = "keyboard_button" id = "backspace">Backspace</li>

        </ul>

    </div>


  </main>
{% endblock %}

{% block extrajs %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- the script implementation for the javascript associated with this page put at bottom so it will load last -->
<script src = "static/main/js/wordle.js">
</script>
{% endblock %}
