{% extends 'shared/layout.html' %}

{% block extrainfo %}
<title>Home</title>
{% endblock %}

{% block extracss %}
<link rel="stylesheet"    href="{{ url_for('static', filename='main/css/main.css') }}">
{% endblock %}

{% block maincontent %}
<!--- main content --->
<main>

  <!--- div wraps around all the content --->
  <div class="content_wrapper">


    <div class="main_wrapper_div">
      <!-- contains picture of myself -->
      <div class="profile_pic content top">
        <img src="static/main/images/headshot.jpg" alt=" picture of me" loading="lazy" class = "self_picture">
      </div>
      <!-- description of me -->
      <div class="profile_desc content top">
        <p>I am Tyler White, a software developer. I graduated from Michigan State University in 2023 with a Computer Science Major and a Japanese Minor
           I am truly passionate about Computer Science and I have experience with Python, C++, React, Angular, .NET, C#, Oracle SQL, SSMS,
            C, and ARM Assembly. On top of that, I have been learning Japanese since 2018 and was able to study in Japan for 4 months as a Senior.
            It was a life-changing experience and I hope I can one day be able to work at a company that allows me to express my passion in Computer Science and Japan.
        </p>
      </div>
      <!-- fun fact -->

      <!-- end of main wrapper div -->
    </div>
    <!-- end of content wrapper -->
  </div>
</main>
{% endblock %}
