{% extends 'shared/layout.html' %}

{% block extrainfo %}
<title>Home</title>
{% endblock %}

{% block extracss %}
<link rel="stylesheet"    href="{{ url_for('static', filename='main/css/main.css') }}">
{% endblock %}

{% block maincontent %}
<!--- main content --->
<main>

  <!--- div wraps around all the content --->
  <div class="content_wrapper">


    <div class="main_wrapper_div">
      <!-- contains picture of myself -->
      <div class="profile_pic content top">
        <img src="static/main/images/headshot.jpg" alt=" picture of me" loading="lazy" class = "self_picture">
      </div>
      <!-- description of me -->
      <div class="profile_desc content top">
        <p>I am Tyler White, a Fifth year Senior at Michigan State University majoring in Computer Science and minoring in Japanese.
           I have been learning Japanese for 4 years now and I am trying to do a study abroad in Japan for Fall 2022 semester. I have already been accepted in the program,
           but the program keeps getting cancelled due to the current Covid restrictions in Japan. If I am able to study abroad in Japan, I will graduate in Spring of 2023,
           but if the program gets cancelled, then I will graduate in December of 2022.
        </p>
        <p>After I graduate from Michigan State University, I intend on moving out of Michigan and hopefully get a job in either California or Japan. I would also enjoy
           working for a Japanese company in the U.S. that would allow me to travel to Japan and utilize my Japanese language background.
        </p>
      </div>
      <!-- fun fact -->
      <div class="fun_fact content">
        <h1 class = "fun_fact_header">A fun fact about me:</h1>
          <p>
              I have been bowling for 19 years now and was a two time All-State bowler in High School. I have bowled two 300 games and my best
              series was a 793 when I bowled a 290, 300, and then a 203.
          </p>
      </div>
      <!-- end of main wrapper div -->
    </div>
    <!-- end of content wrapper -->
  </div>
</main>
{% endblock %}
