{% extends 'shared/layout.html' %}

{% block extrainfo %}
<title>Projects</title>
{% endblock %}

{% block extracss %}
<link rel="stylesheet"    href="{{ url_for('static', filename='main/css/projects_main.css') }}">
{% endblock %}

{% block maincontent %}
<!--- main content --->
<main>

    <!--- div wraps around all the content --->
    <div class="content_wrapper">

      <div class="main_wrapper_div">
        <div class="projects_desc content">
          <h2 class = projects_p>This page is to show off the projects I have done. Click on any image or link
            to learn more about each project.
          </h2>
        </div>
        <!-- piano image div -->
        <div class="piano_image content">
          <a href="/piano" class = "piano_link">
            <img src="static/main/images/piano.jpeg" alt="piano picture" loading="lazy" class = "piano_picture">
          </a>
        </div>
        <!-- description of piano project this is the last project. changed in css -->
        <div class="piano_desc content">
          <h2>Javascript Piano</h2>
          <p>
            This project was built purely in HTML, CSS, and Javascript. As for functionality,
            the project allows one to interact with a live minature piano that contains 10 white keys and 7 black keys.
          </p>
          <p>
            You can hover over the piano to see what keys on the keyboard correlate with the keys on the piano.
            When a piano key is played, the key itself will go down like a live piano key would and then go back to normal.
          </p>
          <p>
            I hope this helps you discover the power of music!
          </p>
          <!-- link to the piano -->
          <p>
            <a href="/piano" class = "link piano">Click on the piano image or this link to access the piano.</a>
          </p>

        </div>
        <!-- handles the wordle project in this page -->
        <div class="wordle_image content">
          <!-- wordle image -->
          <a href="/wordle" class = "wordle_link">
            <img src="static/main/images/wordle.webp" alt="wordle picture" loading="lazy" class = "wordle_picture">
          </a>
        </div>
        <!-- wordle project description -->
        <div class="wordle_desc content">
          <h2>Wordle Project</h2>
          <p>This project was built using HTML, CSS, Javascript, Jinja, Flask, and SQL. As for functionality
             the project allows a user to play my imitation of the popular game of Wordle.
          </p>
          <p>
            The user will have to log into to access the game, but once logged in, will be prompted with an instruction screen
            and then allowed to play the game in which the user will have to guess at what the daily word is. The user can use one's native keyboard
            or the keyboard on the screen to input their guesses into a NxN grid that will be sized depending on the size of the daily word.
          </p>
          <p>
            I hope you enjoy my implementation of Wordle!
          </p>
          <p>
            <a href="/wordle" class = "link piano"> Click on the Wordle image or this link to access the Wordle game page.</a>
          </p>
        </div>
        <div class = "games image content">
          <a href="/Games" class = "board_game_link">
            <img src="static/main/images/games_img.jpg" alt="Games picture" loading="lazy" class = "wordle_picture">
          </a>
        </div>
        <div class = "board_game_desc content">
            <h2>Games Project</h2>
            <p>
                This project allows the user to choose from a variety of games created and integrated within the website.
                The list of games is growing and is subject to change. There is more information on each game when the
                user clicks within this project.
            </p>
            <p>
                <a href="/Games" class = "link piano"> Click on the image or this link to access the home page and learn
                    more about each game.</a>
            </p>
        </div>
        {# flash card project #}
        <div class="flashcard image content">
          <!-- wordle image -->
          <a href="/Flashcard" class = "wordle_link">
            <img src="static/main/images/Flashcards.jpg" alt="flashcard picture" loading="lazy" class = "wordle_picture">
          </a>
        </div>
        <div class="flash_desc content">
          <h2>Flashcard Project</h2>
          <p>This project was built using HTML, CSS, Javascript, Jinja, Flask, and SQL. As for functionality
             the project allows the user to create a deck of flashcards to study from or use an already created public
             deck.
          </p>
          <p>
              The user can easily access public decks of cards or create their own easily customizable deck of flashcards
              to fit their studying needs. After creating or selecting an already made deck, the user can start studying.
              Simple, yet powerful.
          </p>
          <p>
            This project was inspired by my desire to easily study Japanese vocabulary words, but with so many flashcard
              applications available, it seemed like there was some applications that had great features, but still were missing
              some important features, or those features were locked away for premium users only. This led me to wanting
              to develop my own flashcard application that would allow me to implement all the features I thought were
              important or necessary. I hope you enjoy it too!
          </p>
          <p>
            <a href="/Flashcard" class = "link piano"> Click on the Flashcard image or this link to access the flashcard page.</a>
          </p>
        </div>
      <!-- end of main wrapper div -->
      </div>


      <!-- end of content wrapper div -->
    </div>

</main>
{% endblock %}
